@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
   themes: light --default, dark --prefersdark; 
 }

.container{
  width: calc(100% - 24px);
  max-width: 1380px;
  margin-inline: auto;
}

@theme{
  --font-play: "Playfair", serif;
  --font-plus : "Plus Jakarta Sans", sans-serif;
}